<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="strategy" />
	
 	<bean id="printStrategyFactory" class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
		<property name="serviceLocatorInterface" value="strategy.PrintStrategyFactory" />
	</bean>
	
	<alias name="A4Portrait" alias="A4P" />
	<alias name="A4Landscape" alias="A4L" />
	<alias name="A5Portrait" alias="A5P" />
	<alias name="A5Landscape" alias="A5L" />
	<alias name="A4Portrait" alias="DEFAULT" />
</beans>
